* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: "AvenirNext-DemiBold", "Segoe UI";
}

header .logo {
	display: block;
	height: 200px;
	width: 500px;
	margin: 0 auto 20px;
	background-image: url(../images/dougiionducati.png);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	text-align: center;
}

header a:link,
header a:active,
header a:visited,
header a:hover {
	text-decoration: none;
	color: #999;
	text-transform: uppercase;
	font-family: "Avenir-Book", "Segoe UI";
	padding-top: 130px;
	font-size: 14px;
}

ul.rides {
	color: #ddd;
	width: 600px;
	margin: 0 auto;
}

ul.rides li {
	text-transform: uppercase;
	margin-bottom: 10px;
}

ul.rides li .locations {
	color: #999;
	padding-left: 3px;
	font-family: "Avenir-Book", "Segoe UI";
	font-size: 12px;
}

ul a:link,
ul a:active,
ul a:visited {
	border-radius: 5px;
	text-decoration: none;
	color: #000;
	padding: 3px 8px;
}

ul a:hover {
	background: #eee;
}
